@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Dana";
    src: local("Dana"), url("../fonts/Dana/woff2/DanaFaNum-Regular.woff2") format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "Dana Medium";
    src: local("Dana"), url("../fonts/Dana/woff2/DanaFaNum-Medium.woff2") format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "Dana Demibold";
    src: local("Dana"), url("../fonts/Dana/woff2/DanaFaNum-DemiBold.woff2") format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "Morabba Light";
    src: local("Dana"), url("../fonts/Morabba/woff2/Morabba-Light.woff2") format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "Morabba Medium";
    src: local("Dana"), url("../fonts/Morabba/woff2/Morabba-Medium.woff2") format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "Morabba Bold";
    src: local("Dana"), url("../fonts/Morabba/woff2/Morabba-Bold.woff2") format("woff2");
    font-display: swap;
  }

  body {
  --heroDesktop : url("./assets/headerBgDesktop.webp");
  --heroMobile : url("./assets/headerBgMobile.webp");
    /* remove commented for production */
    /* @apply select-none; */
    @apply font-Dana;
  }
  .hero {
    @apply bg-center object-contain lg:object-cover w-screen h-[390] max-w-full max-h-fit lg:max-h-[90vh] bg-[url("./assets/headerBgMobile.webp")] lg:bg-[url("./assets/headerBgDesktop.webp")] bg-no-repeat;
  }
  .new-product {
    @apply bg-top lg:bg-[url("./assets/body-bg.png")] bg-contain max-w-full max-h-full bg-opacity-5  bg-no-repeat;
  }
}
